In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('fifa_eda.csv')

In [2]:
df.head(20)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
9,200389,J. Oblak,25,Slovenia,90,93,Atlético Madrid,68000.0,94.0,Right,3.0,1.0,GK,2014,2021-01-01,6.166667,192.0,144500.0
10,188545,R. Lewandowski,29,Poland,90,90,FC Bayern München,77000.0,205.0,Right,4.0,4.0,ST,2014,2021-01-01,6.000000,176.0,127100.0
11,182521,T. Kroos,28,Germany,90,90,Real Madrid,76500.0,355.0,Right,4.0,3.0,LCM,2014,2022-01-01,6.000000,168.0,156800.0
12,182493,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000.0,125.0,Right,3.0,2.0,CB,2010,2019-01-01,6.166667,172.0,90200.0
13,168542,David Silva,32,Spain,90,90,Manchester City,60000.0,285.0,Left,4.0,4.0,LCM,2010,2020-01-01,5.666667,148.0,111000.0
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.0
15,211110,P. Dybala,24,Argentina,89,94,Juventus,89000.0,205.0,Left,3.0,4.0,LF,2015,2022-01-01,5.833333,165.0,153500.0
16,202126,H. Kane,24,England,89,91,Tottenham Hotspur,83500.0,205.0,Right,3.0,3.0,ST,2010,2024-01-01,6.166667,196.0,160700.0
17,194765,A. Griezmann,27,France,89,90,Atlético Madrid,78000.0,145.0,Left,4.0,4.0,CAM,2014,2023-01-01,5.750000,161.0,165800.0
18,192448,M. ter Stegen,26,Germany,89,92,FC Barcelona,58000.0,240.0,Right,3.0,1.0,GK,2014,2022-01-01,6.166667,187.0,123300.0
19,192119,T. Courtois,26,Belgium,89,90,Real Madrid,53500.0,240.0,Left,4.0,1.0,GK,2018,2024-01-01,6.500000,212.0,113700.0

In [3]:
df.groupby('Nationality').describe()

                ID                                                    \
             count           mean           std       min        25%
Nationality
Afghanistan    4.0  234743.500000   8482.473794  223989.0  230843.25
Albania       40.0  221682.450000  22034.999860  170612.0  203550.25
Algeria       60.0  206355.716667  30335.351770   49659.0  188810.00
Andorra        1.0  192937.000000           NaN  192937.0  192937.00
Angola        15.0  206676.000000  25453.222333  144037.0  199291.00
...            ...            ...           ...       ...        ...
Uzbekistan     2.0  189585.000000  11330.679062  181573.0  185579.00
Venezuela     67.0  224879.641791  22832.363812  162123.0  209170.00
Wales        129.0  201690.651163  40650.977964     657.0  186127.00
Zambia         9.0  236750.555556  17538.889874  190276.0  241202.00
Zimbabwe      13.0  211857.769231  17399.049295  189171.0  196064.00

                                              Age             ... Weight  \
                  50%        75%       max  count       mean  ...    75%
Nationality                                                   ...
Afghanistan  235405.0  239305.25  244175.0    4.0  22.500000  ...  152.0
Albania      230471.5  241738.25  245792.0   40.0  24.025000  ...  172.0
Algeria      207090.5  226455.50  245565.0   60.0  27.050000  ...  179.0
Andorra      192937.0  192937.00  192937.0    1.0  28.000000  ...  174.0
Angola       208364.0  219324.50  242188.0   15.0  25.866667  ...  177.5
...               ...        ...       ...    ...        ...  ...    ...
Uzbekistan   189585.0  193591.00  197597.0    2.0  29.500000  ...  164.5
Venezuela    234063.0  242287.50  246388.0   67.0  24.313433  ...  174.0
Wales        209333.0  229123.00  246227.0  129.0  24.736434  ...  174.0
Zambia       242340.0  243231.00  246144.0    9.0  22.222222  ...  165.0
Zimbabwe     211292.0  222994.00  239438.0   13.0  26.846154  ...  174.0

                   Release Clause                                             \
               max          count         mean           std    min      25%
Nationality
Afghanistan  152.0            4.0   617.250000    214.798161  374.0   494.00
Albania      196.0           40.0  3694.029560   7023.881858  116.0   778.75
Algeria      207.0           60.0  8490.020720  14973.060392  259.0  1175.00
Andorra      174.0            1.0   384.000000           NaN  384.0   384.00
Angola       192.0           15.0  3623.741441   4394.501668  463.0  1078.00
...            ...            ...          ...           ...    ...      ...
Uzbekistan   165.0            2.0  6725.000000   9157.032816  250.0  3487.50
Venezuela    216.0           67.0  4203.207643   5212.560917  108.0  1250.00
Wales        207.0          129.0  3714.370469  12080.501678   53.0   483.00
Zambia       201.0            9.0  2174.000000   1859.514453  356.0  1200.00
Zimbabwe     185.0           13.0  5319.384615   5703.978985  594.0  1300.00


                50%          75%       max
Nationality
Afghanistan   608.5   731.750000     878.0
Albania      1550.0  3650.000000   35500.0
Algeria      2750.0  7500.000000   78000.0
Andorra       384.0   384.000000     384.0
Angola       2100.0  4585.060806   17800.0
...             ...          ...       ...
Uzbekistan   6725.0  9962.500000   13200.0
Venezuela    2500.0  4585.060806   35400.0
Wales        1000.0  3000.000000  123000.0
Zambia       1700.0  2500.000000    6600.0
Zimbabwe     3700.0  6500.000000   18900.0

[164 rows x 96 columns]

In [18]:
df.dtypes

ID                            int64
Name                         object
Age                           int64
Nationality                  object
Overall                       int64
Potential                     int64
Club                         object
Value                       float64
Wage                        float64
Preferred Foot               object
International Reputation    float64
Skill Moves                 float64
Position                     object
Joined                        int64
Contract Valid Until         object
Height                      float64
Weight                      float64
Release Clause              float64
dtype: object

In [4]:
df2=[(100325, 'Riccardo Filipi', 27, 'IT', 70, 70, 'Juventus',	89000.0,205.0, 'Left',3.0, 4.0,	'LF',2015, '2022-01-01',5.833333,165.0,153500.0 ),
        (150525, 'Jared Goldman', 35, 'CA', 89,90,'Chelsea',63000.0,225.0,'Right',3.0,2.0,'LDM',2016,'2023-01-01',5.500000,159.0,121300.0)]
df_nuev=pd.DataFrame(df2,columns=['ID','Name','Age','Nationality','Overall','Potential','Club','Value','Wage', 'Preferred Foot','International Reputation','Skill Moves','Position','Joined','Contract Valid Until', 'Height', 'Weight','Release Clause'])

In [11]:
df.replace('ITALY', 'Italy', inplace=True)
df.replace('CANADA', 'Canada', inplace=True)

In [6]:
df=pd.concat([df, df_nuev], axis=0, ignore_index=True)
df.tail()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0
18207,100325,Riccardo Filipi,27,IT,70,70,Juventus,89000.0,205.0,Left,3.0,4.0,LF,2015,2022-01-01,5.833333,165.0,153500.0
18208,150525,Jared Goldman,35,CA,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.0

In [7]:
df.groupby('Nationality').describe()

                ID                                                    \
             count           mean           std       min        25%
Nationality
Afghanistan    4.0  234743.500000   8482.473794  223989.0  230843.25
Albania       40.0  221682.450000  22034.999860  170612.0  203550.25
Algeria       60.0  206355.716667  30335.351770   49659.0  188810.00
Andorra        1.0  192937.000000           NaN  192937.0  192937.00
Angola        15.0  206676.000000  25453.222333  144037.0  199291.00
...            ...            ...           ...       ...        ...
Uzbekistan     2.0  189585.000000  11330.679062  181573.0  185579.00
Venezuela     67.0  224879.641791  22832.363812  162123.0  209170.00
Wales        129.0  201690.651163  40650.977964     657.0  186127.00
Zambia         9.0  236750.555556  17538.889874  190276.0  241202.00
Zimbabwe      13.0  211857.769231  17399.049295  189171.0  196064.00

                                              Age             ... Weight  \
                  50%        75%       max  count       mean  ...    75%
Nationality                                                   ...
Afghanistan  235405.0  239305.25  244175.0    4.0  22.500000  ...  152.0
Albania      230471.5  241738.25  245792.0   40.0  24.025000  ...  172.0
Algeria      207090.5  226455.50  245565.0   60.0  27.050000  ...  179.0
Andorra      192937.0  192937.00  192937.0    1.0  28.000000  ...  174.0
Angola       208364.0  219324.50  242188.0   15.0  25.866667  ...  177.5
...               ...        ...       ...    ...        ...  ...    ...
Uzbekistan   189585.0  193591.00  197597.0    2.0  29.500000  ...  164.5
Venezuela    234063.0  242287.50  246388.0   67.0  24.313433  ...  174.0
Wales        209333.0  229123.00  246227.0  129.0  24.736434  ...  174.0
Zambia       242340.0  243231.00  246144.0    9.0  22.222222  ...  165.0
Zimbabwe     211292.0  222994.00  239438.0   13.0  26.846154  ...  174.0

                   Release Clause                                             \
               max          count         mean           std    min      25%
Nationality
Afghanistan  152.0            4.0   617.250000    214.798161  374.0   494.00
Albania      196.0           40.0  3694.029560   7023.881858  116.0   778.75
Algeria      207.0           60.0  8490.020720  14973.060392  259.0  1175.00
Andorra      174.0            1.0   384.000000           NaN  384.0   384.00
Angola       192.0           15.0  3623.741441   4394.501668  463.0  1078.00
...            ...            ...          ...           ...    ...      ...
Uzbekistan   165.0            2.0  6725.000000   9157.032816  250.0  3487.50
Venezuela    216.0           67.0  4203.207643   5212.560917  108.0  1250.00
Wales        207.0          129.0  3714.370469  12080.501678   53.0   483.00
Zambia       201.0            9.0  2174.000000   1859.514453  356.0  1200.00
Zimbabwe     185.0           13.0  5319.384615   5703.978985  594.0  1300.00


                50%          75%       max
Nationality
Afghanistan   608.5   731.750000     878.0
Albania      1550.0  3650.000000   35500.0
Algeria      2750.0  7500.000000   78000.0
Andorra       384.0   384.000000     384.0
Angola       2100.0  4585.060806   17800.0
...             ...          ...       ...
Uzbekistan   6725.0  9962.500000   13200.0
Venezuela    2500.0  4585.060806   35400.0
Wales        1000.0  3000.000000  123000.0
Zambia       1700.0  2500.000000    6600.0
Zimbabwe     3700.0  6500.000000   18900.0

[166 rows x 96 columns]

In [ ]:
import pytz
from countryinfo import CountryInfo
def get_country_data(country_name):
    try:
        info=CountryInfo(country_name)
        capital = info.capital()
        timezones= info.timezones()
        timezone=timezones[0] if timezones else None
        return pd.Series([capital, timezone])
    except:
        return pd.Series([None, None])
df['Capital','Timezone']=df['Nationality'].apply(lambda x:get_country_data(x))
df

In [14]:
df['Next year']= df['Potential'].apply(lambda x: 'Candidato' if x>85 else '' )
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Next year
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,Candidato
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,Candidato
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,Candidato
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,Candidato
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,Candidato
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,
18207,100325,Riccardo Filipi,27,Italy,70,70,Juventus,89000.0,205.0,Left,3.0,4.0,LF,2015,2022-01-01,5.833333,165.0,153500.0,
18208,150525,Jared Goldman,35,Canada,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.0,Candidato